*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #344151;
    gap: 10px;
}
.caption{
    color: #0398d4;
    font-size: 20px;
    font-weight: 500;
}

.fun{
    background-color: white;
    display: flex;
    font-size: 25px;
    color: #344151;
    border-radius: 0.125rem;
    gap: 22px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;    
}

.bt1{
    border-right-width: 2px;
    border-color: #bfbfbf;
    padding-right: 5px;
    
}

.count{
    font: bold;
}

.bt2{
    border-left-width: 2px;
    border-color: #bfbfbf;
    padding-left: 5px;
}
